body {
  background-color: #e5e5e5;
  font-family: Arial, sans-serif;
}

.main {
  width: 600px;
  height: 620px;
  background-color: #00245c;
  margin: 20px auto;
  padding-top: 20px;
}

.title {
  width: 400px;
  background-color: #ff8c1a;
  color: white;
  text-align: center;
  margin: auto;
  padding: 15px;
  border-radius: 20px 20px 0 0;
  font-size: 20px;
  font-weight: bold;
}

.box {
  width: 380px;
  background-color: #f5f5f5;
  margin: auto;
  padding: 25px;
  border-radius: 25px;
}

label {
  font-size: 18px;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

input,
select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #4da6ff;
  outline: none;
  background-color: #eef3fb;
}

button {
  width: 180px;
  padding: 12px;
  background-color: #45d1d1;
  color: white;
  border: none;
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0913db;
}

.result {
  text-align: center;
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
  color: #00245c;
}
