#outerdiv
{
    border: 5px solid rgb(18, 19, 18);
    width: 600px;
    height: 200px;
    background-color: aquamarine;
    justify-content: space-evenly;
    

}

#innerdiv1
{
    border: 3px solid rgb(17, 19, 18);
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: yellowgreen;
    margin: 47px;

}

#innerdiv2
{
    border: 3px solid rgb(17, 19, 18);
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: yellowgreen;
    margin: 40px;
}

#innerdiv3
{
    border: 3px solid rgb(17, 19, 18);
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: yellowgreen;
    margin: 47px;
}