body {
  background: linear-gradient(to right, #74ebd5, #9face6);
  min-height: 100vh;
}

.card {
  border-radius: 15px;
}

button {
  transition: 0.3s;
}

button:hover {
  transform: scale(1.03);
}

#resultCard {
  display: none;
}
