body {
  font-family: Arial;
  background: #f2f2f2;
}
.container {
  width: 300px;
  margin: 50px auto;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
button {
  padding: 10px;
  background: #3b6edc;
  color: white;
  border: none;
  border-radius: 5px;
}
.card {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.w-50 {
  width: 50% !important;
}
